<div class="container-fluid">
    <h2>Hello {{name}}, Your Tasks is {{getPendingTasks()}}</h2>
    <input #inputTitle (keyup.enter)="addTask(inputTitle.value);inputTitle.value= ''" type="text" class="form-control w-50">
    <button class="btn btn-primary" (click)="addTask(inputTitle.value);inputTitle.value= '' ">Add</button>

    <table class="table table-dark">
        <thead>
          <tr>
              <td>#</td>
              <td>Title</td>
              <td>Status</td>
              <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of tasks; let Count = index" class="table-active">
            <td>{{Count+1}}</td>
            <td>{{items.title}}</td>
            <td><input type="checkbox" (change)="updateTask(items)" [checked]="items.IsDone" ></td>
            <td><button class="btn btn-danger" (click)="deleteTask(Count)" >Delete</button></td>
          </tr>
          <tr *ngIf="tasks.length == 0">
              <td colspan="4" class="text-center">No Tasks Found</td>
          </tr>
        </tbody>
      </table>
</div>